@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <p>Start organizing your task and stay productive!</p>
    <p>Get started by creating your first TO-Do item. </p>

     <a class="btn btn-primary"  href="/Home/Create">Create New To-Do item </a>
</div>
